{% extends "layout.html" %}
{% block content %}
<div class="flex center-items justify-center">
    <div class="px-8 py-6 mx-4 my-4 text-left bg-white shadow-2xl h-full w-5/6">
        <h2 class="my-6 text-center text-3xl font-extrabold text-gray-900">About Word Bloom</h2>
        <p>
            Word Bloom started in a 2019 with a vision to empower the creative spirit in children and adults. Through a series of classes, workshops and fun activites, we aim to help our students develop their creative skills and express themselves better. We believe that creativity is a skill that can be developed and nurtured. We also believe that creativity is not limited to the arts, but can be applied to all aspects of life. 
        </p>
    </div>
</div>
{% endblock content %}

