{% extends "layout.html" %}
{% block content %}
<div class="w-full">
    <div class="px-8 py-6 mx-4 my-4 text-left bg-white shadow-2xl h-full">
        <h2 class="my-6 text-center text-3xl font-extrabold text-gray-900">Our Gallery</h2>
        <div class="gallery">
            <div class="gallery__column">
                <a href="#" target="_blank" class="gallery__link">
                    <figure class="gallery__thumb">
                        <img src="{{url_for('static', filename='gallery/IMG_20210504_180847.jpg')}}" alt="Class Picture" class="gallery__image">
                        <figcaption class="gallery__caption">A fun role play session</figcaption>
                    </figure>
                </a>
        
                <a href="#" target="_blank" class="gallery__link">
                    <figure class="gallery__thumb">
                        <img src="{{url_for('static', filename='gallery/IMG_20220611_104837.jpg')}}" alt="Class Picture" class="gallery__image">
                        <figcaption class="gallery__caption">Story Writing Workshop</figcaption>
                    </figure>
                </a>
        
                <a href="#" target="_blank" class="gallery__link">
                    <figure class="gallery__thumb">
                        <img src="{{url_for('static', filename='gallery/IMG_20220612_104125.jpg')}}" alt="Class Picture" class="gallery__image">
                        <figcaption class="gallery__caption">Children engaged enactment</figcaption>
                    </figure>
                </a>

                <a href="#" target="_blank" class="gallery__link">
                    <figure class="gallery__thumb">
                        <img src="{{url_for('static', filename='gallery/IMG_20220618_160453.jpg')}}" alt="Class Picture" class="gallery__image">
                        <figcaption class="gallery__caption">Drawing</figcaption>
                    </figure>
                </a>

                <a href="#" target="_blank" class="gallery__link">
                    <figure class="gallery__thumb">
                        <img src="{{url_for('static', filename='gallery/IMG_20220611_153814.jpg')}}" alt="Class Picture" class="gallery__image">
                        <figcaption class="gallery__caption">Story Enactment</figcaption>
                    </figure>
                </a>

                <a href="#" target="_blank" class="gallery__link">
                    <figure class="gallery__thumb">
                        <img src="{{url_for('static', filename='gallery/IMG_20220611_220833.jpg')}}" alt="Class Picture" class="gallery__image">
                        <figcaption class="gallery__caption">Whiteboard Capture</figcaption>
                    </figure>
                </a>
            </div>
            
            <div class="gallery__column">
                <a href="#" target="_blank" class="gallery__link">
                    <figure class="gallery__thumb">
                        <img src="{{url_for('static', filename='gallery/IMG_20220612_110904.jpg')}}" alt="Class Picture" class="gallery__image">
                        <figcaption class="gallery__caption">Draw your story class</figcaption>
                    </figure>
                </a>
                
                <a href="#" target="_blank" class="gallery__link">
                    <figure class="gallery__thumb">
                        <img src="{{url_for('static', filename='gallery/IMG_20220612_110950.jpg')}}" alt="Class Picture" class="gallery__image">
                        <figcaption class="gallery__caption">Children engaged in workshop</figcaption>
                    </figure>
                </a>
        
                <a href="#" target="_blank" class="gallery__link">
                    <figure class="gallery__thumb">
                        <img src="{{url_for('static', filename='gallery/IMG_20220613_181016.jpg')}}" alt="Class Picture" class="gallery__image">
                        <figcaption class="gallery__caption">A candid class picture</figcaption>
                    </figure>
                </a>


                <a href="#" target="_blank" class="gallery__link">
                    <figure class="gallery__thumb">
                        <img src="{{url_for('static', filename='gallery/IMG_20220611_225528.jpg')}}" alt="Class Picture" class="gallery__image">
                        <figcaption class="gallery__caption">Story Recitation</figcaption>
                    </figure>
                </a>
        
                <a href="#" target="_blank" class="gallery__link">
                    <figure class="gallery__thumb">
                        <img src="{{url_for('static', filename='gallery/IMG_20220613_170130.jpg')}}" alt="Class Picture" class="gallery__image">
                        <figcaption class="gallery__caption">A short movie</figcaption>
                    </figure>
                </a>
                <a href="#" target="_blank" class="gallery__link">
                    <figure class="gallery__thumb">
                        <img src="{{url_for('static', filename='gallery/IMG_20220619_113827.jpg')}}" alt="Class Picture" class="gallery__image">
                        <figcaption class="gallery__caption">Chief Guest</figcaption>
                    </figure>
                </a>

            </div>
            
            <div class="gallery__column">
                <a href="#" target="_blank" class="gallery__link">
                    <figure class="gallery__thumb">
                        <img src="{{url_for('static', filename='gallery/IMG_20220618_160651.jpg')}}" alt="Class Picture" class="gallery__image">
                        <figcaption class="gallery__caption">Drawing made by a student</figcaption>
                    </figure>
                </a>
                
                <a href="#" target="_blank" class="gallery__link">
                    <figure class="gallery__thumb">
                        <img src="{{url_for('static', filename='gallery/IMG_20220619_121840.jpg')}}" alt="Class Picture" class="gallery__image">
                        <figcaption class="gallery__caption">Orientation Session for parents</figcaption>
                    </figure>
                </a>
        
                <a href="#" target="_blank" class="gallery__link">
                    <figure class="gallery__thumb">
                        <img src="{{url_for('static', filename='gallery/IMG_20220620_111003.jpg')}}" alt="Class Picture" class="gallery__image">
                        <figcaption class="gallery__caption">Whiteboard Capture</figcaption>
                    </figure>
                </a>


                <a href="#" target="_blank" class="gallery__link">
                    <figure class="gallery__thumb">
                        <img src="{{url_for('static', filename='gallery/IMG_20220620_151556.jpg')}}" alt="Class Picture" class="gallery__image">
                        <figcaption class="gallery__caption">Story Cards</figcaption>
                    </figure>
                </a>
        
                <a href="#" target="_blank" class="gallery__link">
                    <figure class="gallery__thumb">
                        <img src="{{url_for('static', filename='gallery/IMG_20220613_171639.jpg')}}" alt="Class Picture" class="gallery__image">
                        <figcaption class="gallery__caption">Whiteboard Capture</figcaption>
                    </figure>
                </a>
            </div>
            
            <div class="gallery__column">
                <a href="#" target="_blank" class="gallery__link">
                    <figure class="gallery__thumb">
                        <img src="{{url_for('static', filename='gallery/IMG_20220620_111958.jpg')}}" alt="Class Picture" class="gallery__image">
                        <figcaption class="gallery__caption">Story written by a student</figcaption>
                    </figure>
                </a>
        
                <a href="#" target="_blank" class="gallery__link">
                    <figure class="gallery__thumb">
                        <img src="{{url_for('static', filename='gallery/WhatsApp Image 2022-08-19 at 3.19.16 PM.jpeg')}}" alt="Class Picture" class="gallery__image">
                        <figcaption class="gallery__caption">Reshma Ma'am with students</figcaption>
                    </figure>
                </a>
                
                <a href="#" target="_blank" class="gallery__link">
                    <figure class="gallery__thumb">
                        <img src="{{url_for('static', filename='gallery/IMG_20220612_104430.jpg')}}" alt="Class Picture" class="gallery__image">
                        <figcaption class="gallery__caption">A candid class photo</figcaption>
                    </figure>
                </a>

                <a href="#" target="_blank" class="gallery__link">
                    <figure class="gallery__thumb">
                        <img src="{{url_for('static', filename='gallery/IMG_20220618_160743.jpg')}}" alt="Class Picture" class="gallery__image">
                        <figcaption class="gallery__caption">Drawing made by a student</figcaption>
                    </figure>
                </a>

                <a href="#" target="_blank" class="gallery__link">
                    <figure class="gallery__thumb">
                        <img src="{{url_for('static', filename='gallery/IMG_20210427_151448.jpg')}}" alt="Class Picture" class="gallery__image">
                        <figcaption class="gallery__caption">Reshma Ma'am</figcaption>
                    </figure>
                </a>
            </div>
        </div>
    </div>
</div>

{% endblock %}