{% extends "layout.html" %}
{% block content %}
<div class="mt-8">
    <div class="text-black mb-4">
        <div class="container max-w-4xl px-10 py-6 mx-auto rounded-lg shadow-2xl bg-white">
            <div class="flex items-center justify-between">
                <span class="text-sm text-gray-600">Time</span>
            </div>
            <div class="mt-3">
                <a rel="noopener noreferrer" href="#"
                    class="text-2xl font-bold hover:underline">Title</a>
                <p class="mt-2">Content</p>
            </div>
            <div class="flex items-center justify-between mt-4">
                <a rel="noopener noreferrer" href="#" class="hover:underline dark:text-violet-400">Read more</a>
                <div>
                    <a rel="noopener noreferrer" href="#" class="flex items-center">
                        <img src="#" alt="avatar"
                            class="object-cover w-10 h-10 mx-4 rounded-full dark:bg-gray-500">
                        <span class="hover:underline dark:text-gray-400">Post Author</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}